/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

@font-face {
  font-family: 'Formula1';
  src: url('@/assets/fonts/Formula1-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Formula1';
  src: url('@/assets/fonts/Formula1-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  font-family: 'Formula1', system-ui, sans-serif;
}


.v-application {
  font-family: 'Formula1', system-ui, sans-serif;
}

// Override all Vuetify typography classes
.text-caption,
.text-subtitle-1,
.text-h1,
.text-h2,
.text-h3,
.text-h4,
.text-h5,
.text-h6 {
  font-family: 'Formula1', system-ui, sans-serif !important;
}